/*.slider-container{*/
    width: 100%;
    height:1080px;
    min-width: 50px;
    background: url("../images/demo/01.jpg");
}
.checkbox{
    display: inline-block;
}

label{
    display: block;
}

.radio{
    display: inline-block;
}

.radio .col-md-offset-1{
    float: left;
}

button{
    display: block;
}