.row div{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 50px;
    background: gold;
    border: 3px solid orange;
}

.checkbox{
    display: inline-block;
}

.radio{
    display: inline-block;
}

.row .col-md-offset-2{
    background: none;
    border: 0px
}

button{
    display: block;
}